//main: ../style.less
.about__content {
  margin-top: 3.12rem;
  width: 100%;
  display: -webkit-box;
  display: flex;
  height: 27.5rem;
  overflow: hidden;
  &:hover {
    .collum__img {
      img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}
.collum__text {
  width: 60%;
  background-color: #f3f3f3;
  height: 100%;
  position: relative;
  z-index: 1;
  padding-top: 4.3rem;
  padding-left: 2.5rem;
  h3 {
    font-style: normal;
    color: @black;
    font-weight: 700;
    line-height: 43px;
    font-size: 2.25rem;
    margin-bottom: 1.9rem;
  }
  p {
    width: 36rem;
    color: #6d6866;
    font-size: 1.1rem;
    line-height: 170%;
    margin-bottom: 1.9rem;
  }
}
.about__figure {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.collum__img {
  width: 40%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 1.5s linear;
    transition: -webkit-transform 1.5s linear;
    transition: transform 1.5s linear;
    transition: transform 1.5s linear, -webkit-transform 1.5s linear;
  }
}
