//main: ../style.less
.btn {
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  font-size: 0.9rem;
  font-weight: 400;
  background: rgb(229, 203, 59);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(229, 203, 59, 1)),
    to(rgba(223, 149, 54, 1))
  );
  background: linear-gradient(
    90deg,
    rgba(229, 203, 59, 1) 0%,
    rgba(223, 149, 54, 1) 100%
  );
  border-radius: 5px;
  -webkit-transition: color 0.2s linear, box-shadow 0.2s linear;
  transition: color 0.2s linear, box-shadow 0.2s linear;
  &:hover {
    background: rgb(223, 149, 54);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(223, 149, 54, 1)),
      to(rgba(229, 205, 59, 1))
    );
    background: linear-gradient(
      90deg,
      rgba(223, 149, 54, 1) 0%,
      rgba(229, 205, 59, 1) 100%
    );
    &:active {
      color: #62748c;
    }
  }
  &--yellow {
    background: rgb(205, 0, 255);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(205, 0, 255, 1)),
      to(rgba(137, 0, 255, 1))
    );
    background: linear-gradient(
      90deg,
      rgba(205, 0, 255, 1) 0%,
      rgba(137, 0, 255, 1) 100%
    );
    &:hover {
      background: rgb(137, 0, 255);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(137, 0, 255, 1)),
        to(rgba(210, 0, 255, 1))
      );
      background: linear-gradient(
        90deg,
        rgba(137, 0, 255, 1) 0%,
        rgba(210, 0, 255, 1) 100%
      );
      &:active {
        color: #62748c;
      }
    }
  }
  @media @mobile-sm{
    padding: 1rem 1rem;
  }
}
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(100px) translateZ(0);
  transform: perspective(100px) translateZ(0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  &:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    &:active {
      transform: scale(1);
    }
  }
}
