//main: ../style.less
#technologies {
  margin-top: 3.12rem;
  width: 100%;
  background-color: @pink;
  padding: 3rem 0;
}
.technologies__title {
  width: 100%;
  text-align: center;
  h2 {
    font-weight: 600;
    color: @white;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.25rem;
  }
  h3 {
    font-weight: 500;
    font-size: 1.1rem;
    color: @white;
    text-transform: uppercase;
    font-style: normal;
  }
}
.technologies__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 3.12rem;
}
.technologies__col {
  background-color: @white;
  -webkit-transition: box-shadow 0.2s linear, -webkit-transform 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-transform 0.2s linear;
  transition: box-shadow 0.2s linear, transform 0.2s linear;
  transition: box-shadow 0.2s linear, transform 0.2s linear,
    -webkit-transform 0.2s linear;
  &:hover {
    box-shadow: 1px 1px @white, 2px 2px @white, 3px 3px @white, 4px 4px @white,
      5px 5px @white, 6px 6px @white, 7px 7px @white, 8px 8px @white;
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
