//main: ../style.less
.post__footer {
  &--page{
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 3.12rem;
    .post__colum{
      margin: 1rem 0.5rem;
      width: 30%;
      .post__figure{
        height: 12rem;
      }
    }
  }
}
.post__button{
  margin-bottom: 3.12rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; 
}
.btn__post{
  border: none;
  height: 2.6rem;
  width: 12rem;
  background-color: transparent;
  &--prev{
    background:linear-gradient(to right, @white, @gray);
    background-position: right;
    background-size: 100%;
  }
  &--next{
    background:linear-gradient(to right, @gray, @white);
    background-position: left;
    background-size: 100%;
  }
  span{
     font-family: @monserat;
     color: @black;
     font-weight: 700;
     font-size: 1.37rem;
  }
  &:focus{
    outline: none;
  }
}