//main: ../style.less
#footer {
  background-color: @black;
  padding: 2.3rem 0 1rem 0;
  width: 100%;
}
.instagram_gallery {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  a {
    text-decoration: none;
    img {
      width: 90%;
      height: auto;
      -webkit-transition: -webkit-transform 1.5s linear;
      transition: -webkit-transform 1.5s linear;
      transition: transform 1.5s linear;
      transition: transform 1.5s linear, -webkit-transform 1.5s linear;
      @media @mobile {
        display: block;
        margin: 0 auto;
        width: 65%;
      }
      @media @mobile-sm {
        width: 90%;
      }
    }
    @media @mobile {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &:hover {
    a {
      img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
  @media @mobile {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.footer__social {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  a {
    text-decoration: none;
    height: 3rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    span {
      color: @white;
      font-size: 1.1rem;
      font-weight: normal;
      font-style: normal;
    }
    svg {
      margin-right: 1rem;
      width: 3rem;
      height: 100%;
    }
  }
}
.footer__copyright {
  margin-top: 1rem;
  color: @white;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  @media @mobile-sm {
    font-size: 0.9rem;
  }
}
