//main: ../style.less
#introPost {
  margin-top: 3.12rem;
}
.intro__post--row {
  width: 100%;
}
.intro__post--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    font-weight: bold;
    font-size: 2.25rem;
    color: @black;
  }
}
.intro__post--date{
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  color: #6d6866;
  background-color: #f3f3f3;
  padding: 0.8rem 1.5rem;
}
