//main: style.less
/*color*/
@black: #2B2320;
@white: #ffffff;
@gray: #EAE5E1;
@hover: #798989;
/*color for second template*/
@yelow: #F1C22E;
@blue-d: #3C4652;
@gray-l: #F3F3F3;
@gray-sl: #E5E5E5;
@gray-bl: #F5F5F5;
@green-l: #C6D2C7;
/*fonts*/
@monserat: 'Montserrat', sans-serif;
/*media brackpoint*/
@mobile-xsm: ~"(max-width:400px)";
@mobile-sm: ~"(max-width:576px)";
@mobile: ~"(max-width:767px)";
@tablet: ~"(max-width:991px)";
@notebook: ~"(max-width:1199px)";
